.emailSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailTable {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message {
  margin-top: 10px;
  display: flex;
}
